*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --primaryText: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 55%);
  --darkGray: hsl(0, 0%, 41%);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--primaryText);
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
}
