// Utilities

// Margins
.mb--xl {
  margin-bottom: 4rem;
}

// Layout
.container {
  margin: 0 auto;
  height: 100%;
  width: 90%;
}

.row {
  display: grid;
}

.w-25 {
  width: 25%;
}

// Typography
.main__heading {
  color: var(--white);
  font-size: clamp(3.6rem, 4.5vw, 5.4rem);
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
  max-width: 80%;
}

.heading__secondary {
  font-family: inherit;
  font-weight: 300;
  text-transform: uppercase;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0;
}
