@media (max-width: 140em) {
  .header {
    background: url("../images/desktop/image-hero.jpg") no-repeat top
      center/cover;
    height: 100vh;

    &__banner {
      max-width: 45%;
    }
  }

  .navigation {
    .hamburger__menu {
      display: none;
    }

    &__list {
      display: flex;
      gap: 1.6rem;
    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .heading__secondary {
    font-size: 4.8rem;
  }

  .virtual {
    &__reality {
      grid-row: 1 / span 1;
      grid-column: 1 / span 3;
    }

    &__history {
      grid-row: 1 / span 1;
      grid-column: 3 / -1;
      align-self: end;

      background-color: var(--white);
      padding: 6rem;
      width: 100%;

      & > p {
        font-size: 1.8rem;
        line-height: 1.5;
        margin: 2.4rem 0;
      }
    }

    &__img.mobile {
      display: none;
    }

    &__img.desktop {
      display: block;
    }
  }

  .image {
    margin: 8rem 0;
    &__gallery {
      grid-template-columns: repeat(4, 1fr);
    }

    &__feature {
      &.desktop {
        display: block;
      }

      &.mobile {
        display: none;
      }
    }

    &__desc {
      left: 1.6rem;
      bottom: 3.2rem;

      font-size: 3.2rem;
      max-width: 60%;
    }
  }

  .btn__container {
    &.mobile {
      display: none;
      margin-top: 4rem;
    }

    &.desktop {
      display: block;
      margin: 0;
    }
  }

  .footer {
    .row {
      grid-template-columns: 1fr 1fr;
      gap: 2.4rem;
    }

    &__navigation {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    &__list {
      display: flex;
      gap: 1.6rem;
    }

    &__social {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 2rem;
    }
  }

  .social {
    &__list {
      display: flex;
      gap: 1.6rem;
    }
  }
}

@media (max-width: 82em) {
  .header {
    height: 100vh;
  }
}

@media (max-width: 76.8em) {
  .header {
    height: 55vh;
    &__banner {
      max-width: 100%;
    }
  }

  .row {
    gap: 2.4rem;
  }

  .virtual {
    &__reality {
      grid-row: 1 / span 1;
      grid-column: 1 / span 4;
      margin-bottom: 2.4rem;
    }

    &__history {
      grid-row: 2 / span 1;
      grid-column: 1 / span 4;
      text-align: center;
      padding: 0;

      & > p {
        text-align: center;
        margin: 2.4rem 0 3.2rem 0;
      }
    }

    &__img.mobile {
      display: block;
    }

    &__img.desktop {
      display: none;
    }
  }

  .image {
    margin: 4rem 0;
    &__gallery {
      grid-template-columns: 1fr;
    }

    &__feature {
      &.desktop {
        display: none;
      }
      &.mobile {
        display: block;
      }
    }

    &__desc {
      left: 1.6rem;
      bottom: 2.4rem;

      font-size: 2.4rem;
      max-width: 40%;
    }
  }

  .footer {
    .row {
      grid-template-columns: 1fr;
      gap: 6rem;
    }

    &__navigation {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &__list {
      flex-direction: column;
    }

    &__social {
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }
  }

  .social {
    text-align: center;
    width: 100%;

    &__list {
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
    }
  }
}

@media (max-width: 50em) {
  .header {
    background: url("../images/mobile/image-hero.jpg") no-repeat top
      center/cover;
    height: 85vh;

    &__banner {
      max-width: 100%;
    }
  }

  .navigation {
    .hamburger__menu {
      display: inline-block;
    }

    &__list {
      display: none;
    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .heading__secondary {
    font-size: 3.6rem;
    text-align: center;
  }

  .btn__container {
    display: none;
  }

  .flex {
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .image__heading {
    width: 100%;
  }

  .btn__container {
    &.mobile {
      display: block;
      margin-top: 4rem;
      text-align: center;
    }

    &.desktop {
      display: none;
    }
  }
}
