@media (max-width: 99.2em) {
  .header {
    background: url("/images/desktop/image-hero.jpg") no-repeat top center/cover;

    &__banner {
      max-width: 45%;
    }
  }

  .navigation {
    .hamburger__menu {
      display: none;
    }

    &__list {
      display: flex;
      gap: 1.6rem;
    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .heading__secondary {
    font-size: 4.8rem;
  }

  .virtual {
    grid-row: 1 / span 1;
    grid-column: 1 / span 3;

    &__history {
      grid-row: 1 / span 1;
      grid-column: 3 / -1;
      align-self: end;

      background-color: var(--white);
      padding: 6rem;
      width: 100%;

      & > p {
        font-size: 1.8rem;
        line-height: 1.5;
        margin: 2.4rem 0;
      }
    }

    &__img.mobile {
      display: none;
    }

    &__img.desktop {
      display: block;
    }
  }
}

@media (max-width: 50em) {
  .header {
    background: url("/images/mobile/image-hero.jpg") no-repeat top center/cover;

    &__banner {
      max-width: 100%;
    }
  }

  .navigation {
    .hamburger__menu {
      display: inline-block;
    }

    &__list {
      display: none;
    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .heading__secondary {
    font-size: 3.6rem;
    text-align: center;
  }

  .virtual {
    grid-row: 1 / span 1;

    &__history {
      grid-row: 2 / span 1;
      padding: 0;

      & > p {
        text-align: center;
        margin: 2.4rem 0 3.2rem 0;
      }
    }

    &__img.mobile {
      display: block;
    }

    &__img.desktop {
      display: none;
    }
  }
}
