.btn {
  background-color: var(--white);
  border: 1px solid var(--primaryText);
  cursor: pointer;
  outline: none;
  padding: 1.6rem 4rem;

  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;

  transition: background-color 400ms ease-in-out, color 350ms ease-in-out 50ms;

  &:hover {
    background-color: var(--primaryText);
    color: var(--white);
  }
}
