.header {
  height: 100vh;

  &__banner {
    transform: translateY(30%);
    outline: 2px solid var(--white);
    padding: min(6vw, 3.6rem);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  padding-block: 4rem;

  &__item {
    list-style-type: none;
  }

  &__link {
    color: var(--white);
    font-family: inherit;
    font-size: 1.8rem;
    text-decoration: none;
  }
}
